* {
  margin: 0;
  padding: 0;
}
.head1 {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.head1 .right ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-right: 50px;
  color: black;
}
.head1 .left ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 50px;
  text-decoration: none;
}
.head2 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.head2 .right img {
  display: flex;
  justify-content: flex-end;
  padding-right: 30;
}
.head2 .middle {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.head2 .left img {
  display: flex;
  justify-content: flex-start;
}
.container {
  background-color: blue;
  text-align: center;
  margin-bottom: 20px;
  display: block;
}
.links ul {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 255, 0.999);
  text-align: center;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.links ul a {
  color: aliceblue;
  text-decoration: none;
  padding: 20px;
}
.photos {
  width: 100%;
  height: 100vh; /* 100% ya urefu wa screen */
  overflow: hidden;
  position: relative;
}

.photos img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: slideShow 9s infinite;
  opacity: 0;
}

.photos img:nth-child(1) {
  animation-delay: 0s;
}
.photos img:nth-child(2) {
  animation-delay: 3s;
}
.photos img:nth-child(3) {
  animation-delay: 6s;
}

@keyframes slideShow {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
main {
  padding-top: 100px;
  border: none;
  border-radius: 30px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: max-content;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px; /* Optional: adds space between divs */
}

main > div {
  flex: 1; /* Allow them to grow/shrink equally */
  padding: 15px;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.Welcome {
  max-width: 30%;
}
.Welcome h1 {
  color: blue;
}

.key ul a {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  text-decoration-color: none;
  color: black;
}
.key h1 {
  color: blue;
}
.Recent {
  max-width: 30%;
}
.Recent h1 {
  color: blue;
}
.items div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  border-radius: 8px;
  gap: 10px;
}

.item1 {
  font-size: 100px;
  color: lightblue;
}
.item2 {
  font-size: 20px;
}

.item3 i {
  font-size: 14px;
  color: green;
  display: flex;
  text-align: center;
}

.term {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  border-radius: 8px;
  gap: 10px;
}
.icon {
  font-size: 100px;
  color: lightblue;
}

.content {
  font-size: 20px;
}
.date {
  text-align: center;
  font-size: 20px;
  color: green;
}
hgroup .events {
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 30px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: max-content;
  background-color: white;
  justify-content: space-between;
  gap: 20px; /* Optional: adds space between divs */
}
hgroup h6 {
  text-align: center;
  color: blue;
  font-size: 35px;
  padding-bottom: 10px;
  padding-top: 100px;
}
.events > div {
  flex: 1; /* Allow them to grow/shrink equally */
  padding: 15px;
  border-radius: 10px;
  background-color: white;
}
.r p {
  font-size: 30px;
}
.l p {
  font-size: 30px;
}
.m p {
  font-size: 30px;
}
.events > div:hover {
  background-color: darkslategrey;
}
footer {
  position: relative;
  padding-top: 100px;
  background-color: darkblue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  color: white;
  margin: auto;
  gap: 20px;
}
.custom-shape-divider-top-1746258441 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1746258441 svg {
  position: relative;
  display: block;
  width: calc(147% + 1.3px);
  height: 127px;
}

.custom-shape-divider-top-1746258441 .shape-fill {
  fill: #ffffff;
}
